<!-- ページ固有設定メタデータ -->
<meta property="og:title" content="トップページ">
<meta property="og:description" content="サイトのトップページです">
<meta property="og:url" content="https://example.com/">
<meta property="og:type" content="website">
<meta property="og:image" content="assets/img/icon/ogp_default.jpg">
<meta name="twitter:title" content="トップページ">
<meta name="twitter:description" content="サイトのトップページです">
<meta name="twitter:url" content="https://example.com/">
<meta name="description" content="サイトのトップページです">
<link rel="canonical" href="https://example.com/">
<title>サンプルサイト</title>
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"BreadcrumbList",
    "itemListElement": [{"@type":"ListItem","position":1,"item":{"@id":"https://example.com/","name":"HOME"}}]
  }
</script>