block variables  
  - var pageName = 'home'

main.l-main.p-page.p-front-page
  article.p-section-01
    section.l-wrapper
      div.l-container
        div.l-inner
          div.__block-1
            div#app
  // section 01 end
  aside.l-aside
    section.l-wrapper
      div.l-container
        div.l-inner
          div.__block-1
  // aside end
// main end